/* HomeStyles.module.css */
.outerScreen {
	padding: 0px 150px 45px 150px;
	background-color: #c9d4c5;
	min-height: 100vh;
}
.authButtons {
	/* border:1px black solid; */
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	padding-right: 2vh;
	gap: 2vh;
	padding-top: 1.5vh;
	padding-bottom: 1.5vh;
}
.innerScreen {
	display: flex;
	height: 85vh;
	margin: 0;
	overflow: hidden;
	border-radius: 30px;
	padding: 1.3%;
	background-color: #fafafa;

	/* shadow */
	border-color: transparent;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 15px 5px;
}
